.RH-LAYOUT-CENTERPANEL-topic-box a.Hyperlink, .RH-LAYOUT-FOOTER-container a.Hyperlink {
    color: #0563C1;
    text-decoration: underline;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.ListParagraph, .RH-LAYOUT-FOOTER-container p.ListParagraph {
    margin-left: 0.50in;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering1, .RH-LAYOUT-FOOTER-container p.Numbering1 {
    counter-reset: Numbering02;
    margin-left: -0.19in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering1:before, .RH-LAYOUT-FOOTER-container p.Numbering1:before {
    counter-increment: Numbering01;
    content: counter(Numbering01,decimal)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Title, .RH-LAYOUT-FOOTER-container p.Title {
    margin-bottom: 0;
    font-size: 20pt;
    color: #222A35;
    letter-spacing: 0;
    font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
counter-reset:Numbering01 ;
    line-height: 1.08;
    margin-bottom: 8pt;
    font-size: 11pt;
    font-family: Calibri;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0, .RH-LAYOUT-FOOTER-container .margin-left-0 {
margin-left:0;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-2-50in, .RH-LAYOUT-FOOTER-container .margin-left-2-50in {
margin-left:2.50in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .position-relative, .RH-LAYOUT-FOOTER-container .position-relative {
position:relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box span, .RH-LAYOUT-FOOTER-container span { white-space: pre-wrap;
}
.RH-LAYOUT-CENTERPANEL-topic-box .text-indent--0-06in, .RH-LAYOUT-FOOTER-container .text-indent--0-06in {
text-indent:-0.06in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .text-indent--0-44in, .RH-LAYOUT-FOOTER-container .text-indent--0-44in {
text-indent:-0.44in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .text-indent-0-50in, .RH-LAYOUT-FOOTER-container .text-indent-0-50in {
text-indent:0.50in;
}