.RH-LAYOUT-CENTERPANEL-topic-box p.BodyText, .RH-LAYOUT-FOOTER-container p.BodyText {
    margin-left: 1.00in;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: Century Gothic;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1.Numbering46, .RH-LAYOUT-FOOTER-container h1.Numbering46 {
    counter-reset: Numbering232;
    margin-left: 2.19in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1.Numbering46:before, .RH-LAYOUT-FOOTER-container h1.Numbering46:before {
    counter-increment: Numbering231;
    content: counter(Numbering231,decimal)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 1.94in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.ListParagraph, .RH-LAYOUT-FOOTER-container p.ListParagraph {
    margin-left: 0.50in;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: Century Gothic;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Num1, .RH-LAYOUT-FOOTER-container p.Num1 {
    margin-left: 1.00in;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: Century Gothic;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering40, .RH-LAYOUT-FOOTER-container p.Numbering40 {
    counter-reset: Numbering362;
    margin-left: 1.50in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering40:before, .RH-LAYOUT-FOOTER-container p.Numbering40:before {
    content: "•";
    font-family: Symbol;
    display: inline-flex;
    width: 0.25in;
    margin-left: 1.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering41, .RH-LAYOUT-FOOTER-container p.Numbering41 {
    counter-reset: Numbering192;
    margin-left: 1.50in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering41:before, .RH-LAYOUT-FOOTER-container p.Numbering41:before {
    content: "•";
    font-family: Symbol;
    display: inline-flex;
    width: 0.25in;
    margin-left: 1.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering42, .RH-LAYOUT-FOOTER-container p.Numbering42 {
    counter-reset: Numbering252;
    margin-left: 1.50in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering42:before, .RH-LAYOUT-FOOTER-container p.Numbering42:before {
    content: "•";
    font-family: Symbol;
    display: inline-flex;
    width: 0.25in;
    margin-left: 1.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Title, .RH-LAYOUT-FOOTER-container p.Title {
    margin-left: 1.00in;
    margin-top: 6pt;
    margin-bottom: 15pt;
    font-size: 26pt;
    color: #17365D;
    letter-spacing: 0.25pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
counter-reset:Numbering231 Numbering232 ;
    font-family: 'Times New Roman', 'serif';
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0, .RH-LAYOUT-FOOTER-container .margin-left-0 {
margin-left:0;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0-50in, .RH-LAYOUT-FOOTER-container .margin-left-0-50in {
margin-left:0.50in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-00in, .RH-LAYOUT-FOOTER-container .margin-left-1-00in {
margin-left:1.00in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-19in, .RH-LAYOUT-FOOTER-container .margin-left-1-19in {
margin-left:1.19in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-25in, .RH-LAYOUT-FOOTER-container .margin-left-1-25in {
margin-left:1.25in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-50in, .RH-LAYOUT-FOOTER-container .margin-left-1-50in {
margin-left:1.50in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-2-44in, .RH-LAYOUT-FOOTER-container .margin-left-2-44in {
margin-left:2.44in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .position-relative, .RH-LAYOUT-FOOTER-container .position-relative {
position:relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box span, .RH-LAYOUT-FOOTER-container span { white-space: pre-wrap;
}