.RH-LAYOUT-CENTERPANEL-topic-box p.ListParagraph0, .RH-LAYOUT-FOOTER-container p.ListParagraph0 {
    margin-left: 0.50in;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering4, .RH-LAYOUT-FOOTER-container p.Numbering4 {
    counter-reset: Numbering22;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering4:before, .RH-LAYOUT-FOOTER-container p.Numbering4:before {
    counter-increment: Numbering21;
    content: counter(Numbering21,decimal)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
counter-reset:Numbering21 ;
    font-size: 12pt;
    font-family: Calibri;
}
.RH-LAYOUT-CENTERPANEL-topic-box .position-relative, .RH-LAYOUT-FOOTER-container .position-relative {
position:relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box span, .RH-LAYOUT-FOOTER-container span { white-space: pre-wrap;
}