.RH-LAYOUT-CENTERPANEL-topic-box h1.Numbering2, .RH-LAYOUT-FOOTER-container h1.Numbering2 {
    counter-reset: Numbering32;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1.Numbering2:before, .RH-LAYOUT-FOOTER-container h1.Numbering2:before {
    counter-increment: Numbering31;
    content: counter(Numbering31,decimal)".";
    color: #002060;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.Hyperlink, .RH-LAYOUT-FOOTER-container span.Hyperlink {
    color: #0000FF;
    text-decoration: underline;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.ListParagraph, .RH-LAYOUT-FOOTER-container p.ListParagraph {
    margin-left: 0.50in;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering10, .RH-LAYOUT-FOOTER-container p.Numbering10 {
    counter-reset: Numbering02;
    margin-left: 1.26in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering10:before, .RH-LAYOUT-FOOTER-container p.Numbering10:before {
    counter-increment: Numbering01;
    content: counter(Numbering01,lower-alpha)".";
    font-family: 'Times New Roman', 'serif';
    font-size: 11pt;
    font-weight: bold;
    display: inline-flex;
    width: 0.50in;
    margin-left: 0.76in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering4, .RH-LAYOUT-FOOTER-container p.Numbering4 {
    counter-reset: Numbering22;
    margin-left: 0.91in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering4:before, .RH-LAYOUT-FOOTER-container p.Numbering4:before {
    counter-increment: Numbering21;
    content: counter(Numbering21,lower-alpha)".";
    font-size: 12pt;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.66in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering6, .RH-LAYOUT-FOOTER-container p.Numbering6 {
    counter-reset: Numbering12;
    margin-left: 0.91in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering6:before, .RH-LAYOUT-FOOTER-container p.Numbering6:before {
    counter-increment: Numbering11;
    content: counter(Numbering11,lower-alpha)".";
    font-size: 12pt;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.66in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering8, .RH-LAYOUT-FOOTER-container p.Numbering8 {
    counter-reset: Numbering42;
    margin-left: 1.00in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering8:before, .RH-LAYOUT-FOOTER-container p.Numbering8:before {
    content: "•";
    font-family: Symbol;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.75in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering8[data-list-level="2"]:before, .RH-LAYOUT-FOOTER-container p.Numbering8[data-list-level="2"]:before {
    content: "o";
    font-family: 'Courier New';
    display: inline-flex;
    width: 0.25in;
    margin-left: 1.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering8[data-list-level="2"], .RH-LAYOUT-FOOTER-container p.Numbering8[data-list-level="2"] {
    counter-reset: Numbering43;
    margin-left: 1.50in;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering8[data-list-level="3"]:before, .RH-LAYOUT-FOOTER-container p.Numbering8[data-list-level="3"]:before {
    content: "";
    font-family: Wingdings;
    display: inline-flex;
    width: 0.25in;
    margin-left: 1.75in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering8[data-list-level="3"], .RH-LAYOUT-FOOTER-container p.Numbering8[data-list-level="3"] {
    counter-reset: Numbering44;
    margin-left: 2.00in;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOC1, .RH-LAYOUT-FOOTER-container p.TOC1 {
    margin-bottom: 5pt;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOC2, .RH-LAYOUT-FOOTER-container p.TOC2 {
    margin-left: 0.15in;
    margin-bottom: 5pt;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOCHeading, .RH-LAYOUT-FOOTER-container p.TOCHeading {
    margin-top: 12pt;
    line-height: 1.07;
    margin-bottom: 0;
    font-size: 16pt;
    color: #365F91;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Title, .RH-LAYOUT-FOOTER-container p.Title {
    font-size: 20pt;
    color: #0F243E;
    letter-spacing: 0;
    font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
counter-reset:Numbering31 Numbering21 Numbering11 Numbering01 ;
    font-family: 'Times New Roman', 'serif';
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0-49in, .RH-LAYOUT-FOOTER-container .margin-left-0-49in {
margin-left:0.49in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0-50in, .RH-LAYOUT-FOOTER-container .margin-left-0-50in {
margin-left:0.50in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0-91in, .RH-LAYOUT-FOOTER-container .margin-left-0-91in {
margin-left:0.91in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-00in, .RH-LAYOUT-FOOTER-container .margin-left-1-00in {
margin-left:1.00in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-06in, .RH-LAYOUT-FOOTER-container .margin-left-1-06in {
margin-left:1.06in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-50in, .RH-LAYOUT-FOOTER-container .margin-left-1-50in {
margin-left:1.50in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .position-relative, .RH-LAYOUT-FOOTER-container .position-relative {
position:relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box span, .RH-LAYOUT-FOOTER-container span { white-space: pre-wrap;
}