.RH-LAYOUT-CENTERPANEL-topic-box h2.Numbering16, .RH-LAYOUT-FOOTER-container h2.Numbering16 {
    counter-reset: Numbering92;
    margin-left: 0.43in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box h2.Numbering16:before, .RH-LAYOUT-FOOTER-container h2.Numbering16:before {
    counter-increment: Numbering91;
    content: counter(Numbering91,decimal)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.18in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.Hyperlink, .RH-LAYOUT-FOOTER-container a.Hyperlink {
    color: #0000FF;
    text-decoration: underline;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.ListParagraph, .RH-LAYOUT-FOOTER-container p.ListParagraph {
    margin-left: 0.50in;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering14, .RH-LAYOUT-FOOTER-container p.Numbering14 {
    counter-reset: Numbering22;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering14:before, .RH-LAYOUT-FOOTER-container p.Numbering14:before {
    counter-increment: Numbering21;
    content: counter(Numbering21,decimal)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOC1, .RH-LAYOUT-FOOTER-container p.TOC1 {
    margin-bottom: 5pt;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOC2, .RH-LAYOUT-FOOTER-container p.TOC2 {
    margin-left: 0.15in;
    margin-bottom: 5pt;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOCHeading, .RH-LAYOUT-FOOTER-container p.TOCHeading {
    margin-top: 12pt;
    line-height: 1.08;
    margin-bottom: 0;
    font-size: 16pt;
    color: #365F91;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Title, .RH-LAYOUT-FOOTER-container p.Title {
    font-size: 20pt;
    color: #0F243E;
    letter-spacing: 0;
    font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
counter-reset:Numbering91 Numbering21 ;
    font-family: 'Times New Roman', 'serif';
}
.RH-LAYOUT-CENTERPANEL-topic-box .position-relative, .RH-LAYOUT-FOOTER-container .position-relative {
position:relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box span, .RH-LAYOUT-FOOTER-container span { white-space: pre-wrap;
}
.RH-LAYOUT-CENTERPANEL-topic-box .text-indent-0-50in, .RH-LAYOUT-FOOTER-container .text-indent-0-50in {
text-indent:0.50in;
}