.RH-LAYOUT-CENTERPANEL-topic-box p.ListParagraph, .RH-LAYOUT-FOOTER-container p.ListParagraph {
    margin-left: 0.50in;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering2, .RH-LAYOUT-FOOTER-container p.Numbering2 {
    counter-reset: Numbering02;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering2:before, .RH-LAYOUT-FOOTER-container p.Numbering2:before {
    counter-increment: Numbering01;
    content: counter(Numbering01,decimal)")";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering4, .RH-LAYOUT-FOOTER-container p.Numbering4 {
    counter-reset: Numbering12;
    margin-left: 0.75in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering4:before, .RH-LAYOUT-FOOTER-container p.Numbering4:before {
    counter-increment: Numbering11;
    content: counter(Numbering11,decimal)")";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.50in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Title, .RH-LAYOUT-FOOTER-container p.Title {
    font-size: 20pt;
    color: #0F243E;
    letter-spacing: 0;
    font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
counter-reset:Numbering01 Numbering11 ;
    font-family: 'Times New Roman', 'serif';
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0-25in, .RH-LAYOUT-FOOTER-container .margin-left-0-25in {
margin-left:0.25in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0-75in, .RH-LAYOUT-FOOTER-container .margin-left-0-75in {
margin-left:0.75in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .position-relative, .RH-LAYOUT-FOOTER-container .position-relative {
position:relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box span, .RH-LAYOUT-FOOTER-container span { white-space: pre-wrap;
}