.RH-LAYOUT-CENTERPANEL-topic-box h1.Numbering15, .RH-LAYOUT-FOOTER-container h1.Numbering15 {
    counter-reset: Numbering212;
    margin-left: 0.69in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1.Numbering15:before, .RH-LAYOUT-FOOTER-container h1.Numbering15:before {
    counter-increment: Numbering211;
    content: counter(Numbering211,decimal)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.44in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.Hyperlink, .RH-LAYOUT-FOOTER-container a.Hyperlink {
    color: #0000FF;
    text-decoration: underline;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.ListParagraph, .RH-LAYOUT-FOOTER-container p.ListParagraph {
    margin-left: 0.50in;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering47, .RH-LAYOUT-FOOTER-container p.Numbering47 {
    counter-reset: Numbering12;
    margin-left: 1.19in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering47:before, .RH-LAYOUT-FOOTER-container p.Numbering47:before {
    counter-increment: Numbering11;
    content: counter(Numbering11,lower-alpha)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.94in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering48, .RH-LAYOUT-FOOTER-container p.Numbering48 {
    counter-reset: Numbering282;
    margin-left: 1.25in;
    --autonumber: autonumber;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Numbering48:before, .RH-LAYOUT-FOOTER-container p.Numbering48:before {
    counter-increment: Numbering281;
    content: counter(Numbering281,lower-alpha)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 1.00in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOC1, .RH-LAYOUT-FOOTER-container p.TOC1 {
    margin-bottom: 5pt;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOC2, .RH-LAYOUT-FOOTER-container p.TOC2 {
    margin-left: 0.15in;
    margin-bottom: 5pt;
    font-size: 11pt;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.TOCHeading, .RH-LAYOUT-FOOTER-container p.TOCHeading {
    margin-top: 12pt;
    line-height: 1.08;
    margin-bottom: 0;
    font-size: 16pt;
    color: #365F91;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.Title, .RH-LAYOUT-FOOTER-container p.Title {
    font-size: 20pt;
    color: #0F243E;
    letter-spacing: 0;
    font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
counter-reset:Numbering211 Numbering212 Numbering312 Numbering11 Numbering281 ;
    font-family: 'Times New Roman', 'serif';
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0-06in, .RH-LAYOUT-FOOTER-container .margin-left-0-06in {
margin-left:0.06in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-0-75in, .RH-LAYOUT-FOOTER-container .margin-left-0-75in {
margin-left:0.75in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-00in, .RH-LAYOUT-FOOTER-container .margin-left-1-00in {
margin-left:1.00in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-19in, .RH-LAYOUT-FOOTER-container .margin-left-1-19in {
margin-left:1.19in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .margin-left-1-25in, .RH-LAYOUT-FOOTER-container .margin-left-1-25in {
margin-left:1.25in;
}
.RH-LAYOUT-CENTERPANEL-topic-box .position-relative, .RH-LAYOUT-FOOTER-container .position-relative {
position:relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box span, .RH-LAYOUT-FOOTER-container span { white-space: pre-wrap;
}
.RH-LAYOUT-CENTERPANEL-topic-box .text-indent-0-25in, .RH-LAYOUT-FOOTER-container .text-indent-0-25in {
text-indent:0.25in;
}