h1.Numbering17 {
    counter-reset: Numbering152;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
h1.Numbering17:before {
    counter-increment: Numbering151;
    content: counter(Numbering151,decimal)".";
    font-size: 14pt;
    color: #17365D;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
span.Hyperlink {
    color: #0000FF;
    text-decoration: underline;
}
p.ListParagraph {
    margin-left: 0.50in;
    font-size: 11pt;
}
p.Numbering1 {
    counter-reset: Numbering192;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
p.Numbering1:before {
    counter-increment: Numbering191;
    content: counter(Numbering191,decimal)")";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.Numbering19 {
    counter-reset: Numbering12;
    margin-left: 0.75in;
    --autonumber: autonumber;
}
p.Numbering19:before {
    counter-increment: Numbering11;
    content: counter(Numbering11,decimal)")";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.50in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.TOC1 {
    margin-left: 0.50in;
    margin-bottom: 5pt;
    font-size: 12pt;
}
p.TOC2 {
    margin-left: 0.15in;
    text-indent: 0.72in;
    margin-bottom: 5pt;
    font-size: 12pt;
    font-weight: bold;
}
p.TOCHeading {
    margin-top: 12pt;
    line-height: 1.08;
    margin-bottom: 0;
    font-size: 16pt;
    color: #365F91;
}
p.Title {
    font-size: 20pt;
    color: #0F243E;
    letter-spacing: 0;
    font-weight: bold;
}
body {
counter-reset:Numbering151 Numbering11 Numbering191 ;
    font-family: 'Times New Roman', 'serif';
}
.margin-left-0-25in {
margin-left:0.25in;
}
.margin-left-0-50in {
margin-left:0.50in;
}
.margin-left-1-00in {
margin-left:1.00in;
}
.position-relative {
position:relative;
}
span { white-space: pre-wrap;
}
.text-indent-0-50in {
text-indent:0.50in;
}