h1.Numbering28 {
    counter-reset: Numbering182;
    margin-left: 0.69in;
    --autonumber: autonumber;
}
h1.Numbering28:before {
    counter-increment: Numbering181;
    content: counter(Numbering181,decimal)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.44in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
h1.Numbering38 {
    counter-reset: Numbering92;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
h1.Numbering38:before {
    counter-increment: Numbering91;
    content: counter(Numbering91,decimal)".";
    font-weight: bold;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
a.Hyperlink {
    color: #0000FF;
    text-decoration: underline;
}
p.ListParagraph {
    margin-left: 0.50in;
    font-size: 11pt;
}
p.Numbering26 {
    counter-reset: Numbering62;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
p.Numbering26:before {
    content: "•";
    font-family: Symbol;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.Numbering27 {
    counter-reset: Numbering192;
    margin-left: 0.50in;
    --autonumber: autonumber;
}
p.Numbering27:before {
    content: "•";
    font-family: Symbol;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.25in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.Numbering36 {
    counter-reset: Numbering282;
    margin-left: 0.75in;
    --autonumber: autonumber;
}
p.Numbering36:before {
    counter-increment: Numbering281;
    content: counter(Numbering281,lower-alpha)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.50in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.Numbering44 {
    counter-reset: Numbering212;
    margin-left: 0.94in;
    --autonumber: autonumber;
}
p.Numbering44:before {
    counter-increment: Numbering211;
    content: counter(Numbering211,lower-alpha)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.69in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.Numbering46 {
    counter-reset: Numbering52;
    margin-left: 0.88in;
    --autonumber: autonumber;
}
p.Numbering46:before {
    counter-increment: Numbering51;
    content: counter(Numbering51,lower-alpha)".";
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.63in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.TOC1 {
    margin-bottom: 5pt;
    font-size: 11pt;
}
p.TOC2 {
    margin-left: 0.15in;
    margin-bottom: 5pt;
    font-size: 11pt;
}
p.TOCHeading {
    margin-top: 12pt;
    line-height: 1.08;
    margin-bottom: 0;
    font-size: 16pt;
    color: #365F91;
}
table.TableGrid {
    border-top: solid windowtext 1.0pt;
    padding-top: 0;
    border-bottom: solid windowtext 1.0pt;
    padding-bottom: 0;
    border-left: solid windowtext 1.0pt;
    padding-left: 0;
    border-right: solid windowtext 1.0pt;
    padding-right: 0;
}
p.Title {
    font-size: 20pt;
    color: #0F243E;
    letter-spacing: 0;
    font-weight: bold;
}
body {
counter-reset:Numbering181 Numbering182 Numbering113 Numbering443 Numbering151 Numbering152 Numbering281 Numbering91 Numbering92 Numbering93 Numbering211 Numbering51 ;
    font-family: 'Times New Roman', 'serif';
}
.margin-left-0 {
margin-left:0;
}
.margin-left-0-25in {
margin-left:0.25in;
}
.margin-left-0-31in {
margin-left:0.31in;
}
.margin-left-0-44in {
margin-left:0.44in;
}
.margin-left-0-50in {
margin-left:0.50in;
}
.margin-left-0-81in {
margin-left:0.81in;
}
.margin-left-0-94in {
margin-left:0.94in;
}
.position-relative {
position:relative;
}
span { white-space: pre-wrap;
}
table.TableGrid td {
    padding-top: 0pt;
    padding-left: 5.4pt;
    padding-bottom: 0pt;
    padding-right: 5.4pt;
}
.text-indent-0-19in {
text-indent:0.19in;
}
.text-indent-0-25in {
text-indent:0.25in;
}
.text-indent-0-44in {
text-indent:0.44in;
}
.text-indent-0-50in {
text-indent:0.50in;
}